<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo" (click)="logout2()">
    
      <img class="imgProfil float" src="http://maxpixel.freegreatpicture.com/static/photo/1x/Redhead-Girl-Person-People-Woman-Female-Avatar-995164.png" alt="" class="circle" height="40px" width="50px">
     {{userdata}}
  </a>
  
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="http://localhost:4200/Review" >Review</a></li>
      <li><a href="register.html" class="btn-flat disabled">Home</a></li>
      <li><a href="http://localhost:4200/Home/profile">PLease Refresh This Page Once <span class="nav-badge"><span class="new badge">2</span></span></a></li>
      
  </ul>
  
</div>
</nav>
<br>
  <div class="slider circle responsive-img">
    <ul  class="slides carousel slide carousel-fade" >
      <li>
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" [routerLink]="['/Review']"/>
        </video>
       
      </li>
      <li>
        <img src="https://1.bp.blogspot.com/-iUwPpDIDn3A/Xz2sfjMy6OI/AAAAAAAAQ4c/jxrgraRojN01YtQ0PwvPR-iOt57oSeWUwCLcBGAsYHQ/s1600/maxresdefault%2B%25284%2529.jpg" alt="" [routerLink]="['/Review']">
      </li>
      <li>
        <img src="https://images.alphacoders.com/487/thumb-1920-48713.jpg" alt=""  [routerLink]="['/Review']">
      </li>
      <li>
        <img src="https://images4.alphacoders.com/975/thumb-1920-975508.jpg" alt="" [routerLink]="['/Review']">
      </li>
      <li>
        <img src="https://wallpaperaccess.com/full/788693.jpg" alt="" [routerLink]="['/Review']">
      </li>
      <li>
        <img src="https://images5.alphacoders.com/614/thumb-1920-614000.jpg" alt="" [routerLink]="['/Review']">
      </li>
      <li>
        <img src="https://images8.alphacoders.com/480/thumb-1920-480134.jpg" alt="" [routerLink]="['/Review']">
      </li>
     
    </ul>
  </div>

	
  <div style="height: 100%; overflow-x: hidden; text-align: center">
    <div class="csslider infinity slides " id="slider1">
    <input type="radio" name="slides" checked="checked" id="slides_1"/>
    <input type="radio" name="slides" id="slides_2"/>
    <input type="radio" name="slides" id="slides_3"/>
    <input type="radio" name="slides" id="slides_4"/>
    <input type="radio" name="slides" id="slides_5"/>
    <input type="radio" name="slides" id="slides_6"/>
    <input type="radio" name="slides" id="slides_7"/>
    <input type="radio" name="slides" id="slides_8"/>
    <input type="radio" name="slides" id="slides_9"/>
    <input type="radio" name="slides" id="slides_10"/>
      <ul >
        <li>
       <iframe width="100%" height="400px" src="https://www.youtube.com/embed/LjZAG22S_AE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          
        </li>
        <li>
          <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/TghPPv7ioX8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
          <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/DNweVuwPOWE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
          <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/2HtzSQAZhPI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
                <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/m6vjf8YyhTA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
          <p>
                <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/_PZargVQ0A8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
          <p>
                              <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/IMBHiRmRnfc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
          <p>
                              <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/9ibsHRq3CWI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
          <p>
                              <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/0AerErHz9fA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
        <li>
          <p>
          <p>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/8yNVISc-B0k?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen [routerLink]="['/Review']"></iframe>
          </p>
        </li>
        <li>
          <p>
          <iframe width="100%" height="400px" src="https://www.videvo.net/video/desert-night/240/" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen [routerLink]="['/Review']"></iframe>
          </p>
        </li>
        <li>
          <p>
          <video controls preload>
          <source src="" />
          </video> 
          </p>
        </li>
        <li>
          <p>
          <video controls preload>
          <source src="" />
          </video> 
          </p>
        </li>
      </ul>
        <div class="arrows">
          <label for="slides_1"></label>
          <label for="slides_2"></label>
          <label for="slides_3"></label>
          <label for="slides_4"></label>
          <label for="slides_5"></label>
          <label for="slides_6"></label>
          <label for="slides_7"></label>
          <label for="slides_8"></label>
          <label for="slides_9"></label>
          <label for="slides_10"></label>
          <label class="goto-first" for="slides_1"></label>
          <label class="goto-last" for="slides_10"></label>
        </div>
        <div class="navigation"> 
          <div>
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
            <label for="slides_5"></label>
            <label for="slides_6"></label>
            <label for="slides_7"></label>
            <label for="slides_8"></label>
            <label for="slides_9"></label>
            <label for="slides_10"></label>
          </div>
        </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src={{Movieslist.Images[1]}} alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{Movieslist.MovieName[0]}}<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{Movieslist.MovieName[0]}}<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images5.alphacoders.com/114/thumbbig-1142280.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
  </div><br>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images5.alphacoders.com/491/thumbbig-491301.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images5.alphacoders.com/496/thumbbig-496726.jpg " alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images.alphacoders.com/590/thumbbig-59083.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images6.alphacoders.com/902/thumbbig-902379.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
 
   
    
  </div>
  <br>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images3.alphacoders.com/191/thumbbig-19105.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images4.alphacoders.com/242/thumbbig-242396.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images2.alphacoders.com/616/thumbbig-616490.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images.alphacoders.com/306/thumbbig-306943.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images2.alphacoders.com/617/thumbbig-617235.png" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://images2.alphacoders.com/616/thumbbig-616013.jpg" alt="" width="200px" height="200px" [routerLink]="['/Review']">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
  </div>
  <br>
   <!-- footer Section Begins -->
<section id="footer" class="footer">
  <div class="footerBg"></div>
  <div class="container" style="margin-left: 30px;">
  <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div class="contact-form btm-brdr">
  <div class="form-Box">
  <input type="text" placeholder="Name" class="b_effect" />
   </div>
  <div class="form-Box">
  <input type="text" placeholder="Email" class="b_effect" />
  </div>
  <div class="form-Box">                              
    <textarea placeholder="Message" class="b_effect"></textarea>
  </div>
  <div class="form-Box">
  <input type="submit" value="Submit" class="fill-btn" />
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div class="contact-address btm-brdr">
  <h4 class="fTitle" style="margin-left: 30px;"> Contact <span>Us</span> </h4>
  <ul>
  <li> <i class="fa fa-phone" aria-hidden="true">

  </i> <span>1800 999 87 21</span> </li>
  <li> <i class="fa fa-map-marker" aria-hidden="true"></i> 
    <span>121 Abc St, Delhi VIC 5000, India</span> </li>
  <li><i class="fa fa-envelope-o" aria-hidden="true"></i>
    <span>info@scanfcode.com</span> 
  </li>
  </ul>
  </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div class="subscribe btm-brdr">
  <h4 class="fTitle"> Subscribe <span>Newsletter</span> </h4>
  <form style="width: 180px;">
  <input type="text" placeholder="Example@example.com" />   <br>                             
 
  </form>
  <button type="button" class="fill-btn" style="margin-bottom: 200px;">Subscribe</button>
  </div>
  <div class="social-icons">
  <h4 class="fTitle"> Social <span>News</span> </h4>
  <ul>
  <li>
  <a href="'#" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
  <li> <a href="'#" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
  <li><a href="'#" target="_blank"> <i class="fa fa-youtube-play" aria-hidden="true"></i> </a></li>
  <li><a href="'#" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </section>
  <!-- footer Section Ends -->
  <!-- copyright Section Begins -->
  <section id="copyright" class="copyright">
  <div class="container">
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h6 style="margin-left: 40%;"> © 2017 This theme is powered by <a href="http://scanfcode.com" target="_blank">Scanfcode.</a> </h6>
  </div>
  </div>
  </div>
  </section>
  <!-- copyright Section Ends -->
  
  <!-- <footer class="new_footer_area bg_color" >
    <div class="new_footer_top">
        <div class="container">
            <div class="row" style="margin-left: 5%;">
                <div class="col s12" style="margin-left: 5%;">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                        <p>Don’t miss any updates of our new templates and extensions.!</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col s12" style="margin-left: 5%;">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list" style="margin-right: 50px;">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Android App</a></li>
                            <li><a href="#">ios App</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">My tasks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col s6" style="margin-left: 5%;">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Term &amp; conditions</a></li>
                            <li><a href="#">Reporting</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col s6" style="margin-left: 5%;">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fab fa-facebook"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                            <a href="#" class="fab fa-pinterest"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© cakecounter Inc.. 2019 All rights reserved.</p>
                </div>
                <div class="col s6 col s5 text-right">
                    <p>Made with <i class="icon_heart"></i> in <a href="#">CakeCounter</a></p>
                </div>
            </div>
        </div>
    </div>
</footer> -->







  
  
  
 